blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cymem==2.0.2
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
murmurhash==1.0.2
mysql-connector==2.2.9
numpy==1.17.2
plac==0.9.6
preshed==2.0.1
requests==2.22.0
rivescript==1.14.9
six==1.11.0
srsly==0.1.0
thinc==7.0.8
tqdm==4.35.0
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.5
spacy==2.2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
